@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color: #f6f7ff;
    font-family: 'Rubik', sans-serif;
}

.nav-section {
    background-color: #f6f7ff;
}

.main-container {
    max-width: 1150px;
}

.brand-logo {
    width: 35px;
}


.navbar-item {
    font-size: 17px;
    font-weight: 400;
    color: #63708C;
}

.navbar-item:hover {
    color: #5249E5;
}

.my-avatar {
    max-width: 150px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.hero-text {
    color: #14213d;
}

.my-name {
    color: #5249E5;
}

a {
    text-decoration: none;
}

.secondary-text {
    font-size: 18px;
    font-weight: 400;
    color: #53658A;
}

.empty-div {
    height: 25px;
}

.skills-card {
    border: none;
    background-color: #fff;
    border: 2px solid #5249E5;
}

.projects-card {
    border: none;
    background-color: #fff;
    border: 2px solid #5249E5;
}

.card-text {
    font-size: 16px;
    font-weight: 400;
    color: #53658A;
}

.skill-badge {
    background-color: #16DB93;
    color: white;
    padding: 2px 5px;
    border: none;
    border-radius: 5px;
    margin-left: 5px;
    font-size: 15px;
}

.github-link {
    color: #14213d;
    text-decoration: underline;
    font-weight: 400;
}

.github-link:hover {
    opacity: 0.85;
}

.visit-my-github {
    font-weight: 400;
}



